<%- include("./partials/head")%>
    <%- include("./partials/header")%>

        <body>
            <main id="container-main-admin">
                <section id="container-form-admin">
                    <div class="title-section title-section-login">
                        <h2>Entre no cadastro dos Livros</h2>
                    </div>
                    <form action="">
                        <button type="submit" class="btn-edit-forms">Acesse a Biblioteca de Livros</button>
                    </form>
                </section>
            </main>
        </body>